{% extends "base.html" %} {% block title %}About{% endblock %} {% block content
%}
<h3 class="m-2">Hello to GossipAll Blog!</h3>
<div class="about-section mb-4">
  <p>
    Looking for a spot to be heard and responded to, we have that here on
    GossipAll. <br />We are here to allow you take a tour through the mind of
    strangers, friends and family.
  </p>
  <p>
    You do not need an account to through peoples's ideas and comment but you
    sure do <br />
    need to create your ideas and comments for others to see.
  </p>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Japheth Jessica</h2>
        <p class="title">CEO & Founder</p>
        <p>
          GossipAll is hosted by Jessica, a Backend Engineering Student AT
          AltSchool Africa <br />who is learning to create a platform where
          communications and idea sharing be made seamless. <br />All creatives
          are beyond welcome to contribute as well.
        </p>
        <p>Email address: japheth.jjessica@gmail.com</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
