{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Edit a Post</h1>
    
    <label for="title"> Title:</label>
    <form method="POST">
    <textarea name="title" id="text" class="form-control" placeholder="Enter Name!" rows="1">{{post.title}}</textarea>
    <br/>
    <label for="content">Content:</label>
    <textarea name="content" id="text" class="form-control" placeholder="Edit content!" rows="4">{{post.content}}</textarea>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-lg btn-primary">Save Changes</button>
    </div>
    </form>
    <br />
    <div align="center">
    <a href="/home"
        ><button type="button" class="btn btn-lg btn-secondary">Back</button></a>
    </div>
    {% endblock %}