{% extends "base.html" %} {% block title %}Login{% endblock %} 
{% block content %}
    <form method="POST" class="m-2">
      <h3 align="center">Hey, Welcome back! </h3>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="text"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter Email"
        />
        <br>
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Enter Password"
        />
        <br />
        <div align="center">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </div>
      <small>
        <p class="bottom">Don't have an account?  <a class="bottom" href="{{url_for('auth.sign_up')}}"> Sign Up here</a></p>
      </small>
    </form>
    {% endblock %}